<div class="panel panel-default main-panel" id="panel-home">
    <div class="panel-body" style="height: 100% !important">
        <div class="card-panel no-devices" style="height:100%;">
            <div>
                <p>Не указан ни один прибор</p>
                <p>Нажмите чтобы добавить</p>
            </div>
        </div>

        <div class="card-panel has-devices" style="height: 100%">
            <div class="card-group devices-card-group">
            </div>

        </div>
    </div>
</div>