<div class="panel panel-default main-panel" id="panel-home">
    <div class="panel-body" style="height: 100% !important">
        <div class="card-panel no-devices" style="height:100%; display: none;">
            <div>
                <p>Не указан ни один прибор</p>
                <p>Нажмите чтобы добавить</p>
            </div>
        </div>

        <div class="card-panel has-devices" style="height: 100%">

            <div class="card-group">
                <div class="m-1 card text-black bg-secondary sm-3" style="max-width: 11rem; min-width: 11rem;">
                    <div class="card-header">
                        <div class="d-flex justify-content-between">
                            DeviceLabel
                            <div class="lamp lamp-init"></div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="d-flex  flex-column justify-content-md-center">
                            <p>Type</p>
                            <p>Model</p>
                        </div>
                    </div>
                </div>

                <!-- add new device btn -->
                <div class="m-1 card text-black bg-secondary sm-3" id="add_new_device" style="max-width: 11rem; min-width: 11rem;">
                    <!-- <div class="card-header">
                        <div class="d-flex justify-content-center">
                            Добавить прибор
                        </div>
                    </div> -->
                    <div class="card-body">
                        <div class="d-flex  flex-column justify-content-md-center align-items-center">
                            <img src="../img/172525_plus_icon.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>