
<!-- Main menu panel -->
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="height: 30px">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              File
            </a>
            <ul class="dropdown-menu panel-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Сохранить конфинурацию</a></li>
              <li><a class="dropdown-item" href="#">Открыть конфигурацию</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Выход</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Настройки
            </a>
            <ul class="dropdown-menu panel-menu" aria-labelledby="navbarDropdownMenuLink">
              <li>
                <label class="p-1">
                  <input type="checkbox">Тестовый режим
                </label>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Help
            </a>
            <ul class="dropdown-menu panel-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">О программе</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<!-- Navigation icons panel -->
<nav class="navbar navbar-expand-lg navbar-light" style="height: 40px">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto col-sm-3 col-md-10">
        <li class="nav-item active">
          <a class="nav-link icons-link panel-switcher" href="#" data-bs-toggle="popover" title="Popover Header" data-bs-content="Подключение приборов" id="panel_switch__deivces">
            Приборы
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link icons-link panel-switcher" href="#" data-bs-toggle="popover" title="Popover Header" data-bs-content="Разовое измерение" id="panel_switch__single_meas">
            Измерение
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link icons-link panel-switcher" href="#" data-bs-toggle="popover" title="Popover Header" data-bs-content="Длительное измерение" id="panel_switch__continous_measure">
            Постоянное измерение
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link icons-link panel-switcher" href="#" data-bs-toggle="popover" title="Popover Header" data-bs-content="Измерение по диаразону длин волн" id="panel_switch__scan_meas">
            Сканирование
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link icons-link panel-switcher" href="#" data-bs-toggle="popover" title="Popover Header" data-bs-content="Измерение по диаразону длин волн" id="panel_switch__log">
            Лог
          </a>
        </li>
      </ul>
    </div>
</nav>
<h3 style="padding-left: 10px">Приборы</h3>